---
	import Layout from '../layouts/Layout.astro';
	import Hero from '../components/Hero.astro';
	import Heading from '../components/Heading.astro';
	import { slugify } from "../utils/helper"
	const posts = await Astro.glob('./blog/*.mdx');
	const projects = await Astro.glob('./projects/*.mdx');
---

<Layout>
	<div class="container">
		<div class="hero-wrapper">
			<Hero title="Hey, I'm Vishal!">
				<p class="hero-description small width">
					Welcome to my digital garden. 🌱
					<br />
					<br />
					I'm a software developer who loves solving problems and writing about tech and life. I like reading
					blog posts, looking at outer space, and watching sci-fi.
					<br />
					<br />
				</p>
			</Hero>
			<div class="decoration">
				<p>Empty space</p>
			</div>
		</div>
	</div>
	<div class="container">
		<section class="segment">
			<Heading title="Latest Posts" url="/blog" />
			<div class="post-preview">
				{posts.slice(0, 6).map(post =>

				<div class="anchored card" id={post.frontmatter.title}>
					<time>{post.frontmatter.date}</time>
					<a href={post.frontmatter.url} class="card-header">{post.frontmatter.title}</a>
					<div class="anchored categories">
						{post.frontmatter.categories
						.filter((cat) => cat !== 'Highlight')
						.map((cat) => {
						return (
						<a class="cat" href={`/categories/${slugify(cat)}`} id={slugify(cat)}>
							{cat}
						</a>
						)
						})}
					</div>
				</div>
				)}
			</div>
		</section>
		<section class="segment">
			<Heading title="Popular Tutorials" />
			<div class="highlight-preview">
				{posts
				.filter(post=>post.frontmatter.highlight)
				.map((post)=>
				<div class="muted card flex" id={`popular-${post.frontmatter.url}`}>
					{post.frontmatter.thumbnail && <img src={post.frontmatter.thumbnail} />}
					<div>
						<time>{post.frontmatter.date}</time>
						<a class="card-header" href={post.frontmatter.url}>
							{post.frontmatter.title}
						</a>
					</div>
				</div>
				)}
			</div>
		</section>
		<section class="segment">
			<Heading title="Side Projects" url="/projects" />

			<div class="post-preview">
				{projects
				.filter((project) => project.frontmatter.highlight)
				.map((project) => {
				return (
				<div class="anchored card" id={project.frontmatter.url}>
					<div>
						<time>{project.frontmatter.date}</time>
						<a class="card-header" href={`https://github.com/xvishaldongre/${project.frontmatter.url}`}
							target="_blank" rel="noreferrer">
							{project.frontmatter.name}
						</a>
						<p>{project.frontmatter.tagline}</p>
					</div>
					<div class="anchored as">
						{project.frontmatter.writeup && (
						<a class="button" href={project.frontmatter.writeup}>
							Article
						</a>
						)}
						<a class="button flex" href={project.url}>
							Demo
						</a>
					</div>
				</div>
				)
				})}
			</div>
		</section </div>
</Layout>